
body{
  background-color: #111827;
}
.card{
  background-color: #1F2937;
}
.PasswordFill{
  position: relative;   
 }
 .PasswordFill input{
  padding-right: 40px;
 }
 .PasswordFill span {
     position: absolute;
     cursor: pointer;
     right: 12px;
     top: 32px;
     color: #000000;
 }